*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	overflow-x: hidden;
}

.container{
	position: relative;
	width: 100%;
}

/* Menu */
.sidebar{
	position: fixed;
	width: 300px;
	height: 100%;
	background: linear-gradient(45deg, #00ffff, dodgerblue);
	overflow-x: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.sidebar ul li{
	width: 100%;
	list-style: none;
}

.sidebar ul li:hover{
	background: lightgrey;
}

.sidebar ul li:first-child{
	line-height: 60px;
	margin-bottom: 20px;
	font-weight: 600;
	border-bottom: 1px solid #fff;
}

.sidebar ul li:first-child:hover{
	background: none;
}

.sidebar ul li a{
	width: 100%;
	text-decoration: none;
	color: #fff;
	height: 60px;
	display: flex;
	align-items: center;
}

.sidebar ul li a i{
	min-width: 60px;
	font-size: 24px;
	text-align: center;
}

.sidebar .title{
	padding: 0 10px;
	font-size: 20px;
}

.main{
	position: absolute;
	width: calc(100% - 300px);
	min-height: 100vh;
	left: 300px;
	background: #f5f5f5;
}

/* Top bar */
.top-bar{
	position: fixed;
	height: 60px;
	width: calc(100% - 300px);
	background: #fff;
	display: grid;
	grid-template-columns: 10fr 0.4fr 1fr;
	grid-gap: 5px;
	align-items: center;
	color: #444;
	padding: 0 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Search */
.top-bar .search{
	position: relative;
	max-width: 400px;
}

.search input{
	width: 100%;
	min-width: 128px;
	height: 40px;
	padding: 0 40px;
	font-size: 16px;
	outline: none;
	border:  none;
	background: #f5f5f5;
}

.search i{
	position: absolute;
	right: 15px;
	top: 10px;
	cursor: pointer;
}

/* User photo */
.user{
	position: relative;
	width: 50px;
	height: 50px;
}

img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.profile{
	margin-top: 60px;
	width: 100%;
	padding: 35px 20px;
}

.profile h1{
    text-align: center;
    margin-bottom: 50px;
}

/* Profile */

/* Profile content */
.content{
    margin-left: auto;
    margin-right: auto;
}

/* Profile image */
.prf-img{
	position: relative;
	width: 200px;
	height: 200px;
    float: left;
    margin-left: 250px;
    margin-right: 50px;
}

.prf-img img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/* Profile form */
.prf-form{
    margin-top: 20px;
}

.prf-table tr td{
    font-size: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.prf-table tr td:first-child{
    width: 200px;
}

.btn{
    border: 1px solid black;
    padding: 5px 5px;
    background-color: lightcoral;
    color: #f5f5f5;
    border-radius: 2px;
    font-size: 20px;
    text-decoration: none;
}

.btn1{
    border: 1px solid black;
    padding: 5px 15px;
    background-color: dodgerblue;
    color: #f5f5f5;
    border-radius: 2px;
    font-size: 20px;
    text-decoration: none;
}

/* Index for small device */
@media(max-width:860px){
	.tables{
		grid-template-columns: repeat(2, 1fr);
	}
	.tables{
		grid-template-columns: 1fr;
	}
}

@media(max-width:530px){
	.tables{
		grid-template-columns: 1fr;
	}
	.last-rooms th:nth-child(3){
		display: none;
	}
}

@media(max-width:420px){
	.last-rooms, .last-owners{
		font-size: 70%;
		padding: 10px;
		min-height: 200px;
	}
	.cards, .tables{
		padding: 10px;
	}
	.search{
		padding: 0 10px;
	}
	.user{
		width: 40px;
		height: 40px;
	}
}